@model OnAPPoint.Models.ResultsViewModel

<div class="container">
  <h2>@ViewBag.Title</h2>
  <div id="users-header-alert" class="alert alert-@ViewBag.AlertType">
    <span class="glyphicon @ViewBag.AlertIcon" aria-hidden="true"></span>
    @ViewBag.AlertMsg
  </div>

  <h3>Results:</h3>

  @if (Model != null)
  {
    if (Model.Items.Count > 0)
    {
      foreach (var item in Model.Items)
      {
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>User <b>@item.Display</b></h4>
            <p>@item.Id</p>
            <p>@item.UserPrincipalName</p>
          </div>
        </div>
      }
    }
  }

</div>