<h2>GraphTest</h2>
<form>
  <p>
    <button formaction="@Url.Content("~/GraphApi/ListContacts")">List Contacts</button>
  </p>
  <div>
    @{
      if (@ViewBag.Result != null)
      {
        <hr />
        if (@ViewBag.Result.Count == 0)
        {
          <p>Empty Result..</p>
        }
        for (int i = 0; i < ViewBag.Result.Count; i++)
        {
          <h4>@ViewBag.ItemName @(i + 1)</h4>
          <p>@ViewBag.Result[i]</p>
          <hr />
        }
      }
    }
  </div>
</form>